--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0+cu118

# huggingface
transformers
datasets
accelerate
trl

# tokenizer
sentencepiece

# logging
wandb

# multi node
deepspeed
mpi4py
